body{
  font-family: 'Open Sans Condensed', sans-serif;
}

.link-container{
  position: fixed;
  left: 50%;
  top: 50%;
  font-size: 4vmin;
  width: 35vmin;
  height: 100px;
  margin-top: -20px;
  margin-left: calc(-35vmin / 2);
  text-align: center;
}

.link-container a{
  color: #aaa;
  margin:10px;
}
